<form>
  <%= select_tag 'platoon', options_for_select(@platoons, @platoon), action: '/', method: 'get', onchange: 'this.form.submit();'%>
</form>

<br>

<div class='table-container'>
  <div class='fixed-th-table-wrapper'>
    <%=render 'assignments_table'%>
  </div>
  <div class='scrolled-td-table-wrapper'>
    <%=render 'assignments_table'%>
  </div>
</div>

<br>

<div class='table-container'>
  <div class='fixed-th-table-wrapper'>
    <%=render 'attendance_table'%>
  </div>
  <div class='scrolled-td-table-wrapper'>
    <%=render 'attendance_table'%>
  </div>
</div>

<br>

<button onclick="showHideAttendance()">Take Attendance</button>
<div id='attendanceForm'>
  <%= form_tag({controller: 'students', action: 'attendance'}) %>
    <input type="hidden" name="platoon" value=<%=@platoon%> />
    <table>
      <%@students.each do |student|%>
        <%= render 'attendance_row', student: student %>
      <%end%>
    </table>
    <div id='presentKey'>Present</div>
    <div id='tardyKey'>Tardy</div>
    <div id='absentKey'>Absent</div>
    <input type="submit" value="press Enter to submit">
  </form>
</div>

